*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: #fff;
    background-color: #292f53;
    background-image: url('http://localhost:8080/YourSecretDiary/assets/images/mainbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    border-bottom: 2px solid #fff;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #033562;
  }

  .topnav .icon {
    display: none;
  }

  
.borderwhite{
    border: #fff 2px solid;
    border-radius: 10px;
}

/* total = 14 */
#sidebar{
    float: left;
    width: 10%;
    height: auto;
    min-height: 545px;
    max-height: 500px;
    margin: 1%;
    padding: 1%;
    overflow: auto;
    overflow-x: hidden;
}

#sidebar ul{
    height: 100%;
}

#sidebar ul li{
    list-style: none;
    color: #fff;
}

#sidebar ul li a.edit{
    color: green;
}

#sidebar ul li a.delete{
    color: red;
}

#sidebar a{
    color: #fff;
    text-decoration: none;
}

#sidebar hr{
    margin-bottom: 10px;
}

#sidebar:after{
    content: "";
    display: block;
    clear: both;
}

#diarydiv{
    width: 80%;
    height: auto;
    min-height: 519px;
    float: left;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

#diarydiv p{
    text-indent: 50px;
    text-align: justify;
}

.shadow{
    text-shadow: 0 0 3px black;
}

.centerAlign{
    text-align: center;
}

.forms{
    border: #fff solid 2px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    width: 30%;
}

.forms label, 
.forms input
{
    display: block;
}

.forms label
{
    font-size: 25px;
}

.forms input[type=date],
.forms input[type=text], 
.forms input[type=password]
{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background-color: transparent;
    border: #fff solid 2px;
    color: #fff;
    font-weight: bold;
}

input[type=text]:active{
    background-color: #033562;
}

.forms input[type=submit]{
    background-color: transparent;
    margin: 0 auto;
    margin-top: 15px;
}

.button{
    font-size: 18px;
    text-decoration: none;
    border: #fff solid 2px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
}

.forms .button:hover{
    background-color: #033562;
    color: #fff;
}



/* 990px */

@media only screen and (max-width: 990px) {
    /* 92 */
    #sidebar{
        width: 20%;
        margin: 2%;
    }
    /* 90 */
    #diarydiv{
        width: 66%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 2%;
    }

} 

@media only screen and (max-width: 620px) {
    #sidebar{
        width: 92%;
        margin: 2%;
    }

    #diarydiv{
        width: 90%;
        margin-top: 0;
        margin-bottom: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }

    
}  